<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"right":"12px","left":"12px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide" style="padding-right:12px;padding-left:12px"><!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:query-title {"type":"archive","align":"wide","style":{"spacing":{"margin":{"bottom":"30px","top":"30px","right":"0","left":"0"}},"typography":{"fontStyle":"normal","fontWeight":"600"}}} /-->

<!-- wp:separator {"align":"wide","style":{"spacing":{"margin":{"bottom":"20px"}}}} -->
<hr class="wp-block-separator alignwide has-alpha-channel-opacity" style="margin-bottom:20px"/>
<!-- /wp:separator --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:term-description /-->

<!-- wp:query {"queryId":5,"query":{"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"perPage":10},"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-query alignwide"><!-- wp:post-template {"align":"wide","layout":{"type":"default"}} -->
<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"12px","bottom":"12px","left":"12px","right":"12px"}},"border":{"radius":"12px"},"shadow":"var:preset|shadow|natural"},"backgroundColor":"accent-5","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide has-accent-5-background-color has-background" style="border-radius:12px;padding-top:12px;padding-right:12px;padding-bottom:12px;padding-left:12px;box-shadow:var(--wp--preset--shadow--natural)"><!-- wp:pattern {"slug":"xhbl/xhbl_PostCell1"} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:query-pagination {"align":"wide","layout":{"type":"flex","justifyContent":"center"}} -->
<!-- wp:query-pagination-previous {"label":"上一页","fontSize":"small"} /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next {"label":"下一页","fontSize":"small"} /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"1px"} -->
<div style="height:1px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"footer"} /-->