<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"},"padding":{"right":"12px","left":"12px"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:0;padding-right:12px;padding-left:12px"><!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:post-title {"level":1,"align":"wide","style":{"spacing":{"margin":{"bottom":"30px","top":"30px"}},"typography":{"fontStyle":"normal","fontWeight":"600"}}} /-->

<!-- wp:separator {"align":"wide","className":"is-style-default","style":{"spacing":{"margin":{"top":"0","bottom":"var:preset|spacing|30"}}}} -->
<hr class="wp-block-separator alignwide has-alpha-channel-opacity is-style-default" style="margin-top:0;margin-bottom:var(--wp--preset--spacing--30)"/>
<!-- /wp:separator --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"0px"} -->
<div style="height:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:post-content {"align":"wide","layout":{"type":"constrained","contentSize":"980px","wideSize":"1000px"}} /-->

<!-- wp:spacer {"height":"1px"} -->
<div style="height:1px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->